<div class="col-sm-6">
{{#list-filter filter=(action 'filterByName') as |feeds|}}
<br/>
<br/>
  <ul class="list-group">
    {{#each feeds as |feed|}}
      <li class="list-group-item">{{feed-listing feed=feed}}</li>
    {{/each}}
  </ul>
{{/list-filter}}
</div>
{{outlet}}
