<h1>rss2go</h1>

<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1 class="left">
        <em>Feeds</em>
      </h1>
    {{/link-to}}
    <div class="left links">
      {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>Logout</a>
      {{/if}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
