<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active">{{#link-to 'index'}}All My Feeds{{/link-to}}</li>

      <li>{{#link-to 'feeds.add'}}Add Feed{{/link-to}}</li>
    </ul>
    <ul class="nav nav-sidebar">
      {{#if session.isAuthenticated}}
      <li><a {{action 'invalidateSession'}}>Logout</a></li>
      {{/if}}
    </ul>
  </div>
</div>
